<?xml version='1.0' encoding='utf-8' standalone='yes' ?>
<scene>
  <width_height>270,270</width_height>
  <src_scale>1.0,1.0</src_scale>
  <layout_type>bottom</layout_type>
  <duration>9000</duration>
  <max>3</max>
  <model>
    <chance_range>.7,1</chance_range>
    <active_time>2400,2600</active_time>
    <src_ltwh>2,2,46,48</src_ltwh>
    <move_from>135,240,0,0</move_from>
    <move_to>30,30,60,0</move_to>
    <move_interpolator>sin_1,linear</move_interpolator>
    <rotate>0,0,10,60,21,23</rotate>
    <rotate_interpolator>linear</rotate_interpolator>
    <alpha>0,0,255,255</alpha>
    <alpha_interpolator>spring</alpha_interpolator>
    <scale>.6,.7,1.0,1.0</scale>
    <scale_interpolator>spring</scale_interpolator>
  </model>
  <model>
    <chance_range>.3,.7</chance_range>
    <active_time>2400,2600</active_time>
    <src_ltwh>50,2,46,48</src_ltwh>
    <move_from>135,240,0,0</move_from>
    <move_to>30,30,60,0</move_to>
    <move_interpolator>sin_1,linear</move_interpolator>
    <rotate>0,0,-10,-60,17,21</rotate>
    <rotate_interpolator>linear</rotate_interpolator>
    <alpha>0,0,255,255</alpha>
    <alpha_interpolator>spring</alpha_interpolator>
    <scale>.6,.7,1.0,1.0</scale>
    <scale_interpolator>spring</scale_interpolator>
  </model>
  <model>
    <chance_range>0,.3</chance_range>
    <active_time>2400,2600</active_time>
    <src_ltwh>98,2,32,44</src_ltwh>
    <move_from>135,240,0,0</move_from>
    <move_to>30,30,60,0</move_to>
    <move_interpolator>sin_1,linear</move_interpolator>
    <rotate>0,0,-10,-60,17,21</rotate>
    <rotate_interpolator>linear</rotate_interpolator>
    <alpha>0,0,255,255</alpha>
    <alpha_interpolator>spring</alpha_interpolator>
    <scale>.6,.7,1.0,1.0</scale>
    <scale_interpolator>spring</scale_interpolator>
  </model>
</scene>