#
# https://help.github.com/articles/dealing-with-line-endings/
#
# Linux start script should use lf
/gradlew        text eol=lf

# Keep Windows batch files untouched without automatic line ending transformations
*.bat           -text

