<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="HushMessenger UI preview" android:allowBackup="false" android:supportsRtl="true" android:theme="@android:style/Theme.Material.NoActionBar">
        <meta-data android:name="hush.preview" android:value="true" />
        <meta-data android:name="hush.feature.ads" android:value="true" />
        <meta-data android:name="hush.feature.people" android:value="true" />
        <meta-data android:name="hush.feature.friend_requests" android:value="true" />
        <meta-data android:name="hush.feature.community_inbox" android:value="true" />
        <meta-data android:name="hush.feature.growth" android:value="true" />
        <meta-data android:name="hush.feature.inbox_promotions" android:value="true" />
        <meta-data android:name="hush.feature.stories" android:value="true" />
        <meta-data android:name="hush.feature.subtabs" android:value="true" />
        <meta-data android:name="hush.feature.facebook" android:value="true" />
        <meta-data android:name="hush.feature.meta_ai" android:value="true" />
        <meta-data android:name="hush.feature.moments" android:value="true" />
        <meta-data android:name="hush.feature.reels_badge" android:value="true" />
        <meta-data android:name="hush.feature.chat_animation" android:value="true" />
        <meta-data android:name="hush.feature.ai_stickers" android:value="true" />
        <meta-data android:name="hush.feature.avatar_stickers" android:value="true" />
        <meta-data android:name="hush.feature.chat_promotions" android:value="true" />
        <meta-data android:name="hush.feature.suggested_replies" android:value="true" />
        <meta-data android:name="hush.feature.business_suggestions" android:value="true" />
        <meta-data android:name="hush.feature.event_prompts" android:value="true" />
        <meta-data android:name="hush.feature.typing" android:value="true" />
        <meta-data android:name="hush.feature.use_system_emoji" android:value="true" />
        <meta-data android:name="hush.feature.emoji_drawer" android:value="true" />
        <meta-data android:name="hush.feature.emoji_search" android:value="true" />
        <meta-data android:name="hush.feature.original_photo" android:value="true" />
        <meta-data android:name="hush.feature.original_video" android:value="true" />
        <meta-data android:name="hush.feature.disappearing_swipe" android:value="true" />
        <meta-data android:name="hush.feature.system_camera" android:value="true" />
        <meta-data android:name="hush.feature.external_browser" android:value="true" />
        <meta-data android:name="hush.feature.bubbles" android:value="true" />
        <meta-data android:name="hush.feature.allow_screenshot" android:value="true" />
        <meta-data android:name="hush.feature.analytics_uploads" android:value="true" />
        <meta-data android:name="hush.feature.message_log" android:value="true" />
        <meta-data android:name="hush.feature.hide_read_receipts" android:value="true" />
        <meta-data android:name="hush.feature.keep_unsent" android:value="true" />
        <meta-data android:name="hush.feature.anonymous_stories" android:value="true" />
        <meta-data android:name="hush.feature.save_stories" android:value="true" />
        <meta-data android:name="hush.feature.material_you" android:value="true" />
        <meta-data android:name="hush.feature.app_icons" android:value="true" />
        <provider android:name="app.hushmessenger.extension.SettingsProvider" android:authorities="${applicationId}.hush.settings" android:exported="false" />
        <activity android:name="app.hushmessenger.extension.SettingsActivity" android:icon="@android:drawable/ic_menu_preferences" android:exported="true" />
        <provider android:name="app.hushmessenger.extension.CameraProvider" android:authorities="${applicationId}.hush.camera" android:exported="false" android:grantUriPermissions="true" />
        <activity android:name="app.hushmessenger.extension.CameraActivity" android:exported="false" android:excludeFromRecents="true" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboardHidden" />
        <activity android:name="app.hushmessenger.extension.RestartActivity" android:exported="false" android:excludeFromRecents="true" android:noHistory="true" android:configChanges="orientation|screenSize|keyboardHidden" />
    </application>
</manifest>
