{
  "branches": [
    "main",
    {
      "name": "dev",
      "prerelease": true
    }
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "releaseRules": [
          {
            "type": "build",
            "scope": "Needs bump",
            "release": "patch"
          }
        ]
      }
    ],
    "@semantic-release/release-notes-generator",
    [
      "@MorpheApp/changelog",
      {
        "releaseJson": {
          "path": "patches-bundle.json",
          "downloadUrlTemplate": "https://github.com/madhu-gowda6/atharv-patches/releases/download/v${version}/patches-${version}.mpp",
          "signatureUrlTemplate": ""
        }
      }
    ],
    "gradle-semantic-release-plugin",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "jq '.version=\"${nextRelease.version}\"' patches-list.json > patches-list.json.tmp && mv patches-list.json.tmp patches-list.json && rm -f patches/build/libs/*.mpp && ./gradlew --no-daemon :patches:buildAndroid && python3 scripts/generate_patches_readme.py madhu-gowda6/atharv-patches ${branch.name} patches-list.json README.md"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md",
          "gradle.properties",
          "patches-bundle.json",
          "patches-list.json",
          "README.md"
        ],
        "message": "chore: Release v${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "patches/build/libs/patches-!(*sources*|*javadoc*).mpp",
            "label": "patches-${nextRelease.version}.mpp"
          }
        ]
      }
    ],
    [
      "@cleyrop-org/semantic-release-backmerge",
      {
        "backmergeBranches": [
          {
            "from": "main",
            "to": "dev"
          }
        ],
        "clearWorkspace": true
      }
    ]
  ]
}
