<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.VIBRATE" />
    <application tools:ignore="MissingApplicationIcon">
        <activity
            android:name="app.revanced.extension.samsungkeyboard.FeedbackSettingsActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar" />
    </application>
</manifest>